{% extends 'base.html' %}

{% block content %}
<h1 align="center">My balance </h1> <br>

<div align="center">
    <div class="col-md-8 grid-margin stretch-card" >
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Balance </h4>
            <p class="card-description">Account number :</p>
            <ul class="list-ticked">
              <li>
                  $100.00
              </li>
              <li>Available</li>
         
            </ul>
          </div>
        </div>
      </div>
</div>

<div align="center">
    <button class="btn-info btn-rounded btn-sm">View My Transactions</button>
</div>



{% endblock %}