{% extends 'base.html' %}

{% block content %}
<h1>Transaction</h1>



   


<form action="" method="POST" class="form-horizontal"> {% csrf_token %}
   
{{ form.as_p}}
	<!-- <fieldset>
		
		<div class="form-group">
            <label for="amount" class="control-label"></label>
			
            <input type="text" name="amount" class="col-md-4 form-control" placeholder="Amount">
				

        </div>
        
        <div class="form-group">
            <label for="Date" class="control-label"></label>
			
            <input type="date" name="date" class="col-md-4 form-control" placeholder="Amount">
				

        </div>
        
        <div class="form-group">
            <label for="Acount" class="control-label"></label>
			
            <input type="number" name="account" class="col-md-4 form-control" placeholder="Account No:">
				

		</div>
        
        <div class="form-group">
            <label for="Reference" class="control-label"></label>
			
            <input type="text" name="reference" class="col-md-4 form-control" placeholder="Reference">
				

		</div> -->
	
	
		<div class="form-group">
            <label class='control-label'>&nbsp;</label>
            <input type="button" value="save" class="btn btn-primary" onclick="viewVendor()" 'id'="pickerNo">
            <!-- <span class="input-group-addon libspicker" onclick="viewVendor()" 'id'="pickerNo">Save</span> -->
			</div>
	</fieldset>

    <div align="center">
        {% include "face/modal_face.html" %}
    </div>
</form>

<script>
    function viewVendor()
         {
            $('#viewTypes').modal();
        }
</script>


{% endblock %}

